
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  overflow-x: hidden;
}

main {
  margin-top: 30px;
}

.bifilarImpForm{
  display: flex;
  flex-direction: column;

}

.dropwdownClass {
  display: flex;
  flex:0.5;
  flex-direction: row;
  justify-content: space-between;
}
